@import "./../components/fonts";
@import "./../components/mixins";

.main {
    padding: 100px 0 250px 0;

    img {
        width: 850px;
	    margin: 20px auto;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        @extend %transition;

        &:hover {
            -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
            filter: grayscale(0);
            @extend %transition;
        }
    }

    .content {
        max-width: 850px;
        margin: 0 auto;
    }

}

.btnResume {
    width: 200px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    background-color: #404040;
    padding: 15px;
    display: block;
    margin: 125px auto 0 auto;
    border-width: 0px;
}