@import "./../components/fonts";
@import "./../components/mixins";

.main {
    padding: 100px 0 150px 0;

    img.coverAbout {
        max-width: 850px;
	    //margin: 20px auto;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    img {
        max-width: 850px;
    }

    h1 {
        margin: 35px auto;
    }

    .content {
        max-width: 850px;
        margin: 50px auto 0 auto;

        h4 {
            margin: 0;
            font-family: 'Lora', serif;
        }
        p{
            font-size: 0.8em;
            margin-bottom: 50px;
        }
    }

}

.btnResume {
    width: 200px;
    text-decoration: none;
    color: #404040;
    letter-spacing: 2px;
    
    border: solid 1px #404040;
    border-radius: 5px;
    padding: 15px;
    display: block;
    margin: 125px auto 0 auto;
    @extend %transition;

    &:hover {
        background-color: #404040;
        color: #fff;
        @extend %transition;
    }
}