footer {
    border-top: solid 1px #f1f1f1;
    padding: 50px 0;
    width: 100%;
    float: left;
    clear: both;
}

.wrap {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

footer h4 {
    font-family: 'Lora', serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    margin: 0;
    clear: right;
    display: inherit;
}
footer p {
    font-family: 'Lora', serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    margin: 0;
    
    a {
        color: #808080;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

footer ul {
    margin: 50px 0;
    padding: 0;
    border: none;
}

footer ul li {
    display: inline-block;
    border: none;
    
    &:hover {
        background: transparent;
    }

    a {
        color: #808080;
        padding: 10px 15px;
        text-decoration: none;
    }
}


footer p.email {
    font-family: courier new,Courier,monospace;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 20px;
    line-height: 26px;
}