@import "fonts";
@import "mediaqueries";

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #404040;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        background: url(../images/background.jpg) no-repeat;
        background-position: -10% 0;
        background-size: 800px;        

        opacity: .10;
        content: "";
        z-index: -1;
    }
}

::selection {
	background: #404040;
	color: #ffffff;
}
::-moz-selection {
	background: #404040;
    color: #ffffff; 
}

