@media (max-width: 600px) {
	
	h1 {
        max-width: 95%;
    }

    section#cover {
        min-height: 900px;
    }

    .learnMore {
        display: none;
    }
    
    .brands {
        padding: 200px 10px;
        
        img {
            margin: 25px 10px;
    
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    }
    
    
}