header {
  padding: 15px;
  position: relative;
  display: block;
}

nav {
  text-align: right;
  padding: 25px 55px 0 55px;

  a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    display: inline-table;
    width: 65px;
    margin: 0 5px;
    padding: 5px;

    &:hover {
      border-bottom: solid 1px #404040;
    }
    
    &.selected {
      border-bottom: solid 1px #404040;
    }
  }

}

a.logoMenu {
  float: left;
  width: 160px;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    border-bottom: solid 1px transparent;
    color: #000;
  }
}