header {
  padding: 15px;
  position: relative;
  display: block;
}

nav {
  text-align: right;
  padding: 25px 55px 0 0;

  a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    display: inline-table;
    width: 65px;
    margin: 0 18px;
    
    &.prev {
      float: left;
      font-size: 16px;
    }

    &:hover {
      border-bottom: solid 1px #ccc;
    }
    
    &.selected {
      border-bottom: solid 1px #ccc;
    }
  }

}

