header {
  padding: 15px;
  position: relative;
  display: block;
}

nav {
  text-align: right;
  padding: 25px 55px 0 0;

  a {
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    padding: 0 18px;
    
    &.prev {
      float: left;
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

}

