@import "mixins";

#navigation {
    
    div {
        width: 50%;
        box-sizing: border-box;
        padding: 25px 45px;

        a {
            text-decoration: none;
            color: #404040;
            font-weight: 400;
            display: block;
        }

    }


    .nav-previous {
        text-align: left;
        display: inline-table;
        span {
            margin-right: 5px; 
            vertical-align: middle;
        }
        
    }
    .nav-next {
        text-align: right;
        display: inline-table;
        span {
            margin-left: 5px; 
            vertical-align: middle;
        }
    }
}

.post-title {
    display: block;
    font-family: adobe-garamond-pro, Times, sans-serif;
    font-size: 30px;
}
.meta-nav {
    font-size: 12px;
    color: #808080;
}