@import "mixins";

#navigation {
    
    div {
        display: inline-table;
        width: 50%;
        box-sizing: border-box;
        padding: 25px 45px;
        @extend %transition;

        &:hover {
            background-color: #f9f9f9;
            @extend %transition;
        }

        a {
            text-decoration: none;
            color: #404040;
            font-weight: 400;
        }

    }

    

    .left {
        text-align: left;
        span {
            margin-right: 10px; 
            vertical-align: middle;
        }
        
    }
    .rigth {
        text-align: right;
        span {
            margin-left: 10px; 
            vertical-align: middle;
        }
    }
}