@import "fonts";
@import "mixins";

ul {
    text-align: center;
    border-top: solid 1px #f1f1f1;
    margin: 0 ;
    padding: 0 0;

    li {
        border-bottom: solid 1px #f1f1f1;
        list-style: none;
        @extend %transition;
        
        &:hover {
            background-color: #f9f9f9;
            @extend %transition;
        }

        a {
            padding: 65px 25px;
            display: block;
            text-decoration: none;
            
            &:hover {

                h3 {
                    color: #000;
                }

                .tag {
                    background: transparent;
                    border: solid 1px #e2e2e2;
                    color: #404040;
                    @extend %transition;
                }
            }
        }
    }
}



h3 {
    font-family: 'Lora', serif;
    font-size: 46px;
    margin: 0 0 10px 0;
    font-weight: 400;
    color: #404040;
}

.tag {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;

    background: #f3f3f3;
    padding: 4px 15px;
    border: solid 1px transparent;
    border-radius: 4px; 
    margin-right: 8px; 
    color: #767676;
}