@import "fonts";
@import "mixins";

ul {
    text-align: center;
    margin: 0 ;
    padding: 0 5%;

    li {
        padding: 20px;
        margin: 0 auto 14px auto;
        height: 280px;
        max-width: 1024px;
        list-style: none;
        background-color: #f2f2f2;
        @extend %transition;
        
        a {
            display: block;
            text-decoration: none;
            
            &:hover {

                h3 {
                    color: #000;
                }
            }
        }
    }
}



h3 {
    font-family: adobe-garamond-pro,Times,sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: #404040;
}

.callToAction {
    font-size: 14px;
    margin: 80px 0 0 0;
    text-align: left;
}

.tags {
    text-align: left;
}

.tag {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;

    padding: 4px 15px;
    border: solid 1px #e2e2e2;
    color: #767676;
    border-radius: 3px; 
    margin: 8px 8px 0 0;
    
    display: inline-table;
}