@import "fonts";
@import "mixins";

ul {
    text-align: center;
    border-top: solid 1px #f1f1f1;
    margin: 0 ;
    padding: 0 0;

    li {
        padding: 60px 0;
        border-bottom: solid 1px #f1f1f1;
        list-style: none;
        @extend %transition;
        
        a {
            display: block;
            text-decoration: none;
            
            &:hover {

                h3 {
                    color: #000;
                }
            }
        }
    }
}



h3 {
    font-family: adobe-garamond-pro,Times,sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    color: #404040;
}

.tag {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;

    padding: 4px 15px;
    border: solid 1px #e2e2e2;
    color: #767676;
    border-radius: 3px; 
    margin: 8px 8px 0 0; 
    
    display: inline-table;
}