@import "fonts";

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    color: #404040;
}

::selection {
	background: #404040;
	color: #ffffff;
}
::-moz-selection {
	background: #404040;
    color: #ffffff; 
}