@import "fonts";

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #f4f4f4;
    border: 15px solid #fff;
    box-sizing: border-box;
    color: #393939;
}
