header {
  padding: 15px;
  position: relative;
  display: block;
}
.logo {
    left: 35px;
    width: 50px;
    height: 50px;
    top: 35px;
    position: absolute;
    background-color: #393939;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

nav {
  float: right;
  padding: 25px 55px 0 0;

  a {
    text-decoration: none;
    color: #404040;
    padding: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

}

