@import "fonts";

ul {
    text-align: center;
    border-top: solid 1px #f5f5f5;
    margin: 0 ;
    padding: 0 0;

    li {
        border-bottom: solid 1px #f5f5f5;
        list-style: none;
        @extend %transition;
        
        &:hover {
            background-color: #f9f9f9;
            @extend %transition;
        }

        a {
            padding: 50px 25px;
            display: block;
            text-decoration: none;
            
            &:hover {

                h3 {
                    color: #000;
                }

                .tag {
                    background: transparent;
                    border: solid 1px #e2e2e2;
                    color: #404040;
                    @extend %transition;
                }
                
            }
        }
    }
}

%transition {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease; 
    transition: all 250ms ease;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 48px;
    margin: 0 0 10px 0;
    font-weight: 400;
    color: #767676;
}

.tag {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;

    background: #f9f9f9;
    padding: 4px 15px;
    border: solid 1px transparent;
    border-radius: 4px; 
    margin-right: 8px; 
    color: #767676;
}