@import "fonts";

ul {
    text-align: left;
    border-top: solid 1px #f5f5f5;
    margin: 0 20px;
    padding: 0 0;

    li {
        border-bottom: solid 1px #f5f5f5;
        padding: 50px 25px;
        list-style: none;
        &:hover {
            background-color: #f9f9f9;
            cursor: pointer;
        }
    }
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    margin: 0 0 10px 0;
    font-weight: 500;

}

.tag {
    font-size: 16px;
    padding: 3px 15px;
    border: solid 1px #ccc;
    border-radius: 4px; 
    margin-right: 8px; 
}