@import "fonts";

ul {
    text-align: center;
    border-top: solid 1px #f5f5f5;
    margin: 0 ;
    padding: 0 0;

    li {
        border-bottom: solid 1px #f5f5f5;
        list-style: none;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease; 
        transition: all 250ms ease;
        
        &:hover {
            background-color: #f9f9f9;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -ms-transition: all 250ms ease;
            -o-transition: all 250ms ease; 
            transition: all 250ms ease;
        }

        a {
            padding: 50px 25px;
            display: block;
            text-decoration: none;
            color: #404040;
            
            &:hover {
                color: #000;

                .tag {
                    background: transparent;
                    border: solid 1px #e2e2e2;
                    -webkit-transition: all 250ms ease;
                    -moz-transition: all 250ms ease;
                    -ms-transition: all 250ms ease;
                    -o-transition: all 250ms ease; 
                    transition: all 250ms ease;
                }
                
            }
        }
    }
}


h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 46px;
    margin: 0 0 10px 0;
    font-weight: 300;
}

.tag {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background: #f2f2f2;
    padding: 4px 15px;
    border: solid 1px transparent;
    border-radius: 4px; 
    margin-right: 8px; 
}